* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family: 'Oswald', sans-serif;
  line-height: 1.7em;
  background: #f8f5f5;
  color: #604e4e;
}

.section{
  border-radius: 5px;
  background-color: #ece1e1;
  padding:15px;
  margin:3px;
  overflow: scroll;
}
.header{
  text-align: center;
}

.header h2{
  padding: 2px;
  margin-top: 4px;
}

.header h1{
  padding: 4px;
  margin-top: 4px;
}

.header img{
  border-radius:5px;
}

.about_me{
  background-color: #f8f5f5;
}

.about_me p{
  margin: 2px;
}

.footer ul{
  list-style: none;
  padding:0px;
}

.card{
  float:left;
  height:83px;
  background-color: #d3baba;
  margin: 7px ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width:  85px;
  text-align: center;
  padding:4px;
}

.card:hover{
  background-color: #f2ebeb;
}

.cardImg {
  margin: auto 0px ;
  text-align: center;
}

.fas,.fab{
  font-size:3em;
  text-align: center;
  color:#9a7d7d;
}

.footer li{
  display: inline;
  margin: 3px;
}

.footer{
  padding: 0px 0px 0px 15px;
}

.navbar ul{
  overflow: auto;
  list-style: none;
}

.navbar ul li{
  display: inline;
}

.navbar a{
  text-decoration: none;
  color: #806c6c;
}
 
.navbar .container{
  max-width: 300px;
}

hr{
  border: 10px solid #ece1e1;
  margin-top: 5px;
}

.container{
  text-align: center;
  margin: auto;
  justify-content: center;

}